<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>iMeet</title>
  <link rel="shortcut icon" href="images/favicon_io/favicon.ico" type="image/x-icon">
</head>

<body>
  <img src="/images/imeetlogo.png" alt="">
  <nav>
    <span>
      <% if (user) { %>
        <a href="/posts" <%- title==='All iMeets' ? 'class="active"' : '' %>>All iMeets</a>
        <a href="/interests" <%- title==='Interests' ? 'class="active"' : '' %>>Interests</a>
        <a href="/posts/new" <%- title==='Add iMeet' ? 'class="active"' : '' %>>Add iMeet</a>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </span>
  </nav>
  <h1>
    <%= title %>
  </h1>