<%- include('../partials/header') %>

<% interests.forEach(function(interest) { %>
    <div><%= interest.name %></div>
<% }) %>

<hr>

<form action="/interests" method="POST">
    <input type="text" name="name"  placeholder="enter name of interest"> 
    <button type="submit">Add Interest</button>
</form>

<%- include('../partials/footer') %>
