<%- include('./partials/header') %>
<div class="home">
<img src="/images/markerpic.png" alt="">
<footer><div class="copyright"> © 2023 HTML-iMeet. Copyright by Latonya Davis. All Rights Reserved. </div>
</footer>

</div>


<%- include('./partials/footer') %>
