*{
  box-sizing: border-box;
  font-family: Helvetica;
}


body {
  margin: 0;
  height: 5vh;
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: right;
  align-items: right;
  height: 34px;
}

.login img {
  height: 30px;
}