<%- include('../partials/header') %>
<% posts.forEach(function(post){ %>
    <a href="/posts/<%= post._id %>" ><%=  post.title %> </a> 
 <% })  %>
<div class="index"></div>

<%- include('../partials/footer') %>
