<%- include('../partials/header') %>

<form id="select post form" action="/posts/new" method="POST">
  <label>User:</label>
  <input type="text" name="user">
  <input type="text" name="interest">
  <input type="date" name="zipcode">
  <input type="date" name= "when">
</form>

<%- include('../partials/footer') %>
